*{
    margin:0px;
    padding: 0px;
    box-sizing:border-box;
    
}

main{
font-family:"Atkinson Hyperlegible",sans-serif;
min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(-45deg, #000000,#474747);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 50% 100%;
  }
  100% {
      background-position: 0% 50%;
  }

}



h1 {

color:rgba(0,0,0);
font-weight:300;
font-size: 2rem;
}

h2 {
color:rgba(0, 0, 0);
font-weight:500;
}


h3 {
color:rgba(0, 0, 0);
 

    
}


.glass {
    background: white;
    min-height: 80vh;
    width: 90%;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.363),
      rgba(255, 255, 255, 0.103)
    );
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(2rem);
    display: flex;
   

}

.circle1, .circle2 {
    background:rgb(122, 122, 122);
    background: linear-gradient(to right bottom, 
    rgba(53, 51, 51, 0.8),
    rgba(255,255,255,0.5));
    height:10rem;
    width:10rem;
    position:absolute;
    z-index:2;
    border-radius: 50%;
}
.circle1{
    top:1%;
    right:1%;
    
  
}

.circle2{

    bottom:5%;
    left:1%;
}

.dashboard {

    flex:1;
    display:flex;
    flex-direction:column;
    align-items: center;
    text-align:center;
    background: linear-gradient(to right bottom, 
    rgba(173, 173, 173, 0.2),
    rgba(255, 255, 255, 0.3));
    border-radius: 2rem;
}
.games {
    flex:2;
}
.link {
    display:flex;
    margin: 2rem 0rem;
    padding: 1rem 5rem;
    align-items: center;

}
.link h2 {
    padding: 0rem 2 rem;
}
.games{
    flex:2;

}

.pro {
    background: linear-gradient(to right top, #2b2b2b,
#ffffff);
border-radius: 2rem;
padding:1rem;
position:relative

}

.pro img {
    position: absolute;
    top:-10%;
    right:10%;
}
.pro h2{
 color:saddlebrown
}


/* other section */

.status{
    margin-bottom:3rem;
}

.status input{
    background: linear-gradient(to right bottom, 
    rgba(255,255,255,0.8),
    rgba(255,255,255,0.5));
    border:none;
    width:50%;
    border-radius: 2rem;

}

.games{
    margin: 2rem;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;




}

.cards{
    display:flex;
    background: linear-gradient(to right bottom, 
    rgba(200,255,200,0.8),
    rgba(255,255,255,0.5));
    border-radius: 1rem;
    margin: 2rem 0 rem;
    padding:2rem;
    box-shadow:6px 6px 20px rgba(122, 122, 122, 0.137);
    justify-content: space-between;
}

.progress{
    background: linear-gradient(to right bottom, 
    rgba(200,255,200,0.8),
    rgba(255,255,255,0.5));
    width:100%;
    height:25%;


}
